@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif!important;
}

.headClass {
    background: url('../img/black.jpg')!important;
    background-size: cover!important;
    background-position: center!important;
    min-height: 100vh !important;

    background-color: rgba(0,0,0)!important;
}

.welcome {
    margin-top: 15px !important;
    margin-bottom: 20px !important;
}

.fixed .container .item {
    border: none !important;
}
.logos {
    margin-top: 45px !important;
    width: 200px;
    min-height: 200px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.what-left {
    background: url('../img/jez-timms-8muUTAmcWU4-unsplash.jpg');
    background-position: center;
    background-size: cover;
    color: #fff !important;
}

.what-right {
    /* background: url('../img/tra-nguyen-TVSRWmnW8Us-unsplash.jpg'); */
    background-color: #EBF3FF;
    background-position: center;
    background-size: cover;
    color: #000 !important;
}

.cert {
    transition: all 0.5s ease !important;
}

.uic {
    transition: all 0.7s ease !important;
}

.fi {
    border: 1px solid red !important;
}
#certificate {
    transition: all 0.8s ease;
}

.menyu {
    border: none !important;
}


.hidden.menu {
    display: none;
}

.texts {
    font-family: 'Poppins', sans-serif!important;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

/* asliddin */