{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script></body>

    <link rel="stylesheet" href="{% static './css/Abot-css.css' %}">
    <title>Muvaffaqqiyatli</title>
</head>

<body>


    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a href="{% url 'home_page' %}" class="active item">Bosh shaifa</a>
            <a href="{% url 'home_page' %}#aboutMe" class="item">Biz haqimizda</a>
            <a href="{% url 'home_page' %}#certificate" class="item">Sertifikat</a>

        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a href="{% url 'home_page' %}" class="active item">Bosh shaifa</a>
        <a href="{% url 'home_page' %}#aboutMe" class="item">Biz haqimizda</a>
        <a href="{% url 'home_page' %}#certificate" class="item">Sertifikat</a>
    </div>


    <!-- Page Contents -->
    <div class="pusher" id="home">
        <div class="ui inverted vertical masthead center aligned segment headClass">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu menyu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a href="{% url 'home_page' %}" class="active item">Bosh shaifa</a>
                    <a href="{% url 'home_page' %}#aboutMe" class="item">Biz haqimizda</a>
                    <a href="{% url 'home_page' %}#certificate" class="item">Sertifikat</a>
                </div>
            </div>

            <div class="ui text container uic">
                <h1 class="ui inverted logos">
                    <img src="https://images.squarespace-cdn.com/content/v1/5e330c2de64eca1b9e4c638c/1586971695424-JO0HLNDWD86BYCD07AK7/0-6616_view-samegoogleiqdbsaucenao-qcbbexbc5-green-check-mark-circle.png">
                </h1>
                <h1>{{ model.ism_familiya }}</h1>
                <h2>
                    Tabriklaymiz, siz &nbsp;{{ model.kurs_soati }}&nbsp; soatlik o'quv
                    kursimizni muvaffaqiyatli tamomladingiz!
                    <br>
                    Marhamat sertifikatingizni yuklab oling!
                </h2>
                <br>
                <!-- <h1 class="ui inverted header welcome">
                    Hush kelibsiz
                </h1> -->
                <!-- <h2>Do whatever you want when you want to.</h2> -->
                <a href="{{model.upload_link}}" class="ui huge  button cert inverted">Yuklab olish &nbsp;&nbsp;
                    <i class="download icon"></i></a>
            </div>

        </div>


        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">Asosiy</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Bosh sahifa</a>
                            <a href="#" class="item">Biz haqimizda</a>
                            <a href="#" class="item">Sertifikat olish</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Biz haqimizda</h4>
                        <div class="ui inverted link list">
                            <a href="https://asliddinweb.uz" target="_blank" class="item">Asliddin - Backend developer</a>
                            <a href="https://t.me/vokhid_abdurakhmanov" target="_blank" class="item">Vohid - Frontend developer</a>
                            <a href="https://my-portfolio-akbarov.netlify.app" target="_blank" class="item">G'anisher - Frontend developer </a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Sertifikat</h4>
                        <p>"Elektron hukumat" o'quv markazining sertifikat berish platformasi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
        integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static './js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/sidebar.min.js"
        integrity="sha512-Zvh9ucGg/12KrDb43+7EghbChsYCRQUKgH0RW1TE0Ey5LQdcCfAd835YV7Jlvj5R5lbITRiAAO4jf1bh91UWaw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>